<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head')  %>
<body>
    <div class="containerCreateProduct">
        <div class="logo">
            <img src="/images/logo.webp" alt="DavidLogo">
        </div>
        <h1>Listado de Productos</h1>
        <h3>4 Productos encontrados</h3>
        <div class="listProduct">
            <% products.forEach(product => { %>
                <div class="containerProduct">
                    <a href="/listProducts/<%= product.id %>">
                        <img src="<%= product.image %>" height="150px" alt="<%= product.name_product %>">
                    </a>
                    <div>
                        <p>Código: <%= product.id %></p>
                        <p>Nombre: <strong><%= product.name_product %></strong></p>
                        <p>Precio: <%= product.price %></p>
                        <p>Color: <%= product.color.join(', ') %></p>
                        <a href="/listProducts/<%= product.id %>" class="editar">Detalle</a>
                        <a href="/listProducts/<%= product.id %>/editProduct" class="editar">Editar</a>
                        <a href="/listProducts/<%= product.id %>?_method=DELETE" class="eliminar" onclick="return confirm('¿Estás seguro de eliminar este producto?');">Eliminar</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

</body>
</html>